      <center>
       <br> 
       
        <marquee style="color: green;">NonStop`E-Spor Klanı Başarılar Diler. Yönetim Panelinde Hata Olursa lütfen Yönetim Ekibine Bildirmeye Çekinmeyiniz!</marquee>
      </center>
    </body>
</html>
